doctype html
html
  body
    input#localId( value=localId)
    video#remoteVideo(autoplay)
    button#playButton 播放视频
    script(src='/socket.io/socket.io.js')
    script(src='js/adapter.js')
    script(src='js/receiver.js')
